<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2014. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->
<!--
http://www.sjune.net/archives/431
http://docs.spring.io/spring-data/data-mongo/docs/1.6.0.RELEASE/reference/html/
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <mongo:mongo host="${mongodb.host}" port="${mongodb.port}">
        <mongo:options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="1000"
                       auto-connect-retry="true"
                       socket-keep-alive="true"
                       socket-timeout="2000"
                       slave-ok="false"
                       write-number="1"
                       write-timeout="1000"
                       write-fsync="true"/>
    </mongo:mongo>

    <!--
    <mongo:db-factory dbname="database" mongo-ref="mongo"></mongo:db-factory>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" value="mongoDbFactory" />
    </bean>



    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongo" />
        <constructor-arg name="databaseName" value="testdb" />
    </bean>
-->

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>

        <property name="writeResultChecking" value="EXCEPTION"/>
    </bean>

    <mongo:db-factory dbname="testdb" mongo-ref="mongo"/>
</beans>

